<h1>All Blog Pages</h1>

<% @pages.each do |page| %>
  <%= page.title %>
  <%= link_to 'Show page', page_path(page) %>
  <%= link_to 'Edit', edit_page_path(page) %>
  <%= link_to 'Delete', page, method: :delete %>
<% end %>

<%= link_to 'New Blog Page', new_page_path %>


